<!DOCTYPE html>
<html>
  <body>
    <nav>
      <div class="nav-home">
        <strong>Zouk Spirit</strong>
      </div>

      <ul class="nav-avatar">
        <li>Victor</li>
        <li>
          <img src="images/avatar/pug-face.jpg" alt="avatar" class="avatar-pic" height="42" width="42"/>
        </li>
      </ul>
    </nav>

    <div class="content">

      <h1>Welcome on Zouk love website! The place to be to pick some chicks</h1><br>

      <h2>Top hits</h2><br>

      <p>

        <div class="row">

          <div class="card card-profile">
            <div class="card-image">
              <img src="images/profile/francky-vincent.jpg" alt="francky" height="250" width="250" style="box-shadow: 3px 3px 20px 0 rgba(0,0,0,1)"/>
            </div>
            <div class="card-body">
              <a href="https://youtu.be/bONeCoik1Ts">
                <h4 class="card-title">Francky Vincent</h4>
              </a>
              <h4>Fruit de la passion</h4>
              <p>
                <button class="button" type="button" name="button">
                  <span>Learn more</span></button>
              </p>
            </div>

          </div>

          <div class="card card-profile">
            <div class="card-image">
              <img src="images/profile/slai.jpg" alt="slai" height="250" width="250" style="box-shadow: 3px 3px 20px 0 rgba(0,0,0,1)"/>
            </div>
            <div class="card-body">
              <a href="https://youtu.be/uMxy75IfyKU">
                <h4 class="card-title">Slaï</h4>
              </a>
              <h4>Flamme</h4>
              <p>
                <button class="button" type="button" name="button">
                  <span>Learn more</span></button>
              </p>

            </div>
          </div>

          <div class="card card-profile">
            <div class="card-image">
              <img src="images/profile/kassav.jpg" alt="kassav" height="250" width="250" style="box-shadow: 3px 3px 20px 0 rgba(0,0,0,1)"/>
            </div>
            <div class="card-body">
              <a href="https://youtu.be/6Vv1wxZAR1k">
                <h4 class="card-title">Kassav</h4>
              </a>
              <h4>Zouk La Se Sel Medikaman Nou Ni</h4>
              <p>
                <button class="button" type="button" name="button">
                  <span>Learn more</span></button>
              </p>
            </div>

          </div>
        </div>
      </p><br><br>

      <h2>Quick biography</h2><br>
      <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'London')">Francky Vincent</button>
        <button class="tablinks" onclick="openCity(event, 'Paris')">Slaï</button>
        <button class="tablinks" onclick="openCity(event, 'Tokyo')">Kassav</button>
      </div>

      <div id="London" class="tabcontent">
        <h3>Francky Vincent</h3>
        <p>Franck Vincent (born April 18, 1956 in Pointe-à-Pitre) is a singer, song-writer, producer, painter, manager and musician of at least 170 songs from Guadeloupe. He is known for his provocative and sexually explicit lyrics, brutal outspokenness, and
          his charming smile.
          <br><br>
          He is known for his single Fruit De La Passion, which is the most notable and successful of his career, selling over 700.000 copies in Metropolitan France, more than any other French Antilles solo singer.
        </p>
      </div>

      <div id="Paris" class="tabcontent">
        <h3>Slaï</h3>
        <p>Patrice Sylvestre better known by his stage name Slaï (born Val-d'Oise, France on 10 February 1973) is a French singer of Guadeloupe origin Sylvestre, born in France, actually passed his childhood and adolescence in Guadeloupe until 1996, when he
          returned to France. Interested in music early on, he release "Flamme" in 1998 that became a huge success in the Caribbean region and earned him a great following. He released his debut album Fresh in 1998 and the follow-up album, the self-titled Slaï
          in 2002 in local Caribbean markets. The releases were also known in Caribbean immigrant circles in France.
        </p>
      </div>

      <div id="Tokyo" class="tabcontent">
        <h3>Kassav</h3>
        <p>Kassav' is a Caribbean band formed in Guadeloupe in 1979. The core members of the band are Jocelyne Béroard, Jacob Desvarieux, Jean-Philippe Marthély, Patrick St. Eloi, Jean-Claude Naimro, Claude Vamur and Georges Décimus (who left to form Volte
          Face and returned). Kassav' have issued over 20 albums, with a further 12 solo albums by band members.
          <br><br>
          The music of Kassav is an extension of cadence-lypso or compas bands, such as Grammacks, Exile One, Les Aiglons and Experience 7 of the 1970s.[1]
        </p>
      </div>

    </div>

  </div><br><br><br><br><br><br>
  <footer>
    <ul>
      <li>Made with love</li>
    </ul>
  </footer>
</body>
</html>
