/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  color: white;

  background: url(/assets/wallpaper/beach.jpg) no-repeat;
  background-position: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;

  color: white;
  background-image: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.5));
  opacity: 0.75;
}


li {
  margin-left: 0.5em;
  margin-right: 0.5em;
  list-style-type: none;
}

h1 {
  text-align: center;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;

  color: white;
  background-image: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.5));
  opacity: 0.75;
}
